.App h1 {
  margin: 20px 0;
  color: white;
}
.App section {
  border-radius: 6px;
  padding: 20px 40px;
  margin: 20px auto;
  background: white;
  max-width: 85%;
}
.App footer {
  color: white;
}
.App footer a {
  color: #ff6f3c;
  font-style: italic;
  text-decoration: none;
}
.App h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.App h2,
h3,
h4 {
  color: #0e3d49;
}
.App input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
